<p-table
  [value]="hours"
  [scrollable]="true"
  [showGridlines]="true"
  scrollHeight="80vh"
>
  <!-- Cabeçalho -->
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 60px">Hora</th>
      <th *ngFor="let i of dayIndexes">
  {{ weekDays[i] }} <br />
  <small *ngIf="monthWeekDays[i]">{{ monthWeekDays[i] }}</small>
</th>
    </tr>
  </ng-template>

  <!-- Corpo -->
  <ng-template pTemplate="body" let-hour>
    <tr>
      <td>{{ hour.hour }}:00</td>

      <td *ngFor="let dayIndex of dayIndexes">
        <ng-container *ngIf="getEvento(hour.hour, dayIndex) as evento">
          <div class=" flex flex-col bg-blue-500 text-white text-md bold rounded p-1">
            <p>{{ evento.titulo }}</p>
            <p>{{evento.assunto}}</p>
          </div>
        </ng-container>
      </td>
    </tr>
  </ng-template>
</p-table>
